.create-ticket-container {
  width: 100%;
  margin-bottom: 10px;
}

.create-ticket-container .ticket-form {
  border: 1px solid #8989891f;
  background-color: white;
  border-radius: 12px;
  padding: 2rem;
}

.create-ticket-container .ticket-form-modal {
  border: 1px solid #8989891f;
  background-color: white;
  border-radius: 12px;
  padding: 2rem;
  width: 100%;
}

@media screen and (min-width: 1000px) {
  .create-ticket-container {
    flex-direction: row;
    column-gap: 2rem;
    justify-content: space-between;
  }

  .create-ticket-container .info {
    width: 40%;
  }

  /* .create-ticket-container .ticket-form {
    width: 60%;
  } */
}

.chat_box_container {
  position: relative;
  height: 455px;
  overflow-y: scroll;
}

.custom-file-input {
  color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: "Choose files";
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #dddddd, #dddddd);
  border: 1px solid #dddddd;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}

.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #dddddd, #dddddd);
}
