@media (min-width: 768px) {
  .header {
    display: none;
  }
}

/* =======================calculator ================ */

.App {
  color: white;
  width: 100%;
  margin: auto;
  height: auto;
  padding: 40px 0 40px 0px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 7px;
  border: 1px solid rgba(209, 213, 219, 0.4);
}

/* Styling the buttons */

.calcBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
}

.calbutton {
  padding-top: 1px !important;
  padding-bottom: 1px !important;
  width: 50px;
  height: 50px;
  margin-right: 5px;
  border: 0px solid;
  border-radius: 8px;
  background-color: rgb(224, 218, 218);
  color: black;
  font-weight: 500;
  cursor: pointer;
  font-size: 1em;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
}

/* last button only each row */

.calbutton:nth-last-child(1) {
  background-color: grey;
  backdrop-filter: blur(16px) saturate(180%);
  color: whitesmoke;
}

/* first row only */

#firstRow {
  margin-top: 20px;
}

#firstRow .calbutton {
  background-color: grey;
  backdrop-filter: blur(16px) saturate(180%);
  color: white;
}

#firstRow .calbuttontton:nth-child(2),
#firstRow .calbutton:nth-child(1) {
  background-color: rgb(80, 90, 80, 0.5);
  backdrop-filter: blur(16px) saturate(180%);
  color: white;
  border: 0px solid;
}

#bigZero {
  width: 105px;
  height: 50px;
  margin-right: 5px;
  border: 0px solid;
  border-radius: 10px;
  background-color: orangered;
  backdrop-filter: blur(16px) saturate(180%);
  color: white;
  font-weight: 500;
  cursor: pointer;
}

#bigZero:hover {
  width: 104px;
  height: 48px;
}

#resultScreen {
  background-color: black;
  color: white;
  border: 1px solid rgba(209, 213, 219, 0.4);
  width: 80%;
  height: 60px;
  overflow: hidden;
  margin: auto;
  vertical-align: 50%;
  border-radius: 7px;
  padding: 0.3em;
  font-size: 2em;
  text-align: right;
}

/* ============ notes ========== */
.notepad {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

.notepad textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
.notepad button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 25%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  margin: 16px;
  float: left;
}

.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #6499e9;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}
#target {
  color: red;
}
