.account-details-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 2rem;
}

.account-details-container .form-container {
  width: 100%;
}

/* @media screen and (min-width: 768px) {
  .account-details-container {
    flex-direction: row;
    column-gap: 2rem;
  }

  .account-details-container .form-container {
    width: 60%;
  }
} */

.profile_pic {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  object-fit: cover;
}

.file_conatiner {
  width: 100%;
  display: flex;
  gap: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
